* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Header {
  display: flex;
  padding: 20px;
  background-color: #f9b625;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo_img {
  height: 50px;
  width: 50px;
  background-color: rgb(245, 246, 248);
  border-radius: 15px;
  padding: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.heading {
  text-align: center;
  font-weight: 500;
  margin-top: 5px;
  margin-left: 19px;
}
footer {
  display: flex;
  justify-content: center;
  margin-top: 29%;
}
.Create_notes {
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}
.Forms {
  display: flex;

  border-radius: 10px;
  margin-top: 32px;
  padding: 0px 15px;
  flex-direction: column;
  align-items: flex-end;
  font-family: "Nunito", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  border: none;
  height: 7vh;
  width: 30vw;
  margin-bottom: 12px;
}
input[type="text"] {
  font-size: 25px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
input:focus,
textarea:focus {
  outline: none;
}

textarea {
  border: none;
  height: 10vh;
  width: 30vw;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}
.Delete_icon {
  color: #f9b625;
}
.Main_note {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px 30px;
  margin-top: 50px;
  /* border: 2px solid red; */
}
.note {
  width: 45%;
  min-height: 18vh;
  /* border: 2px solid red; */
  padding: 10px;
  margin-left: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.Note_title {
  display: flex;
  flex: 1;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  padding: 2px;
}
.Note_para {
  padding: 2px;
}
.Delete_btn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-width: 100px) and (max-width: 600px) {
  textarea {
    height: 10vh;
    width: 82vw;
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  input {
    width: 82vw;
  }
}
@media (min-width: 100px) and (max-width: 600px) {
  .note {
    width: 90%;
    margin-bottom: 20px;
  }
  .Main_note {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
